@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    @apply font-sans text-slate-900 bg-slate-50;
    margin: 0;
    padding: 0;
  }

  /* Scrollbar customizada */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-slate-300 rounded-full;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-slate-400;
  }
}

@layer utilities {
  .font-mono {
    font-family: "JetBrains Mono", "Fira Code", monospace;
  }
}
